@import "common/var";

@font-face {
    font-family: 'Inter-Regular';
    src: url('#{$--font-path}/Inter/Inter-Regular.woff2') format('woff2'),
        url('#{$--font-path}/Inter/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-display: $--font-display;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('#{$--font-path}/Inter/Inter-Medium.woff2') format('woff2'),
        url('#{$--font-path}/Inter/Inter-Medium.woff') format('woff');
    font-weight: normal;
    font-display: $--font-display;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('#{$--font-path}/Inter/Inter-SemiBold.woff2') format('woff2'),
        url('#{$--font-path}/Inter/Inter-SemiBold.woff') format('woff');
    font-weight: normal;
    font-display: $--font-display;
    font-style: normal;
}

@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("#{$--font-path}/Inter/Inter-roman.var.woff2?v=3.15") format("woff2");
}
