@use 'element-plus/theme-chalk/src/common/var' as *;
@use 'variables';

/*
 * Default
 */

.el-margin {
  margin-bottom: variables.$margin-default;
}
* + .el-margin {
  margin-top: variables.$margin-default !important;
}

.el-margin-top {
  margin-top: variables.$margin-default !important;
}
.el-margin-bottom {
  margin-bottom: variables.$margin-default !important;
}
.el-margin-left {
  margin-left: variables.$margin-default !important;
}
.el-margin-right {
  margin-right: variables.$margin-default !important;
}

/* Mini
 ========================================================================== */

.el-margin-xs {
  margin-bottom: variables.$margin-xs;
}
* + .el-margin-xs {
  margin-top: variables.$margin-xs !important;
}

.el-margin-xs-top {
  margin-top: variables.$margin-xs !important;
}
.el-margin-xs-bottom {
  margin-bottom: variables.$margin-xs !important;
}
.el-margin-xs-left {
  margin-left: variables.$margin-xs !important;
}
.el-margin-xs-right {
  margin-right: variables.$margin-xs !important;
}

/* Small
 ========================================================================== */

.el-margin-sm {
  margin-bottom: variables.$margin-sm;
}
* + .el-margin-sm {
  margin-top: variables.$margin-sm !important;
}

.el-margin-sm-top {
  margin-top: variables.$margin-sm !important;
}
.el-margin-sm-bottom {
  margin-bottom: variables.$margin-sm !important;
}
.el-margin-sm-left {
  margin-left: variables.$margin-sm !important;
}
.el-margin-sm-right {
  margin-right: variables.$margin-sm !important;
}

/* Medium
 ========================================================================== */

.el-margin-md {
  margin-bottom: variables.$margin-md;
}
* + .el-margin-md {
  margin-top: variables.$margin-md !important;
}

.el-margin-md-top {
  margin-top: variables.$margin-md !important;
}
.el-margin-md-bottom {
  margin-bottom: variables.$margin-md !important;
}
.el-margin-md-left {
  margin-left: variables.$margin-md !important;
}
.el-margin-md-right {
  margin-right: variables.$margin-md !important;
}

/* Large
 ========================================================================== */

.el-margin-lg {
  margin-bottom: variables.$margin-lg;
}
* + .el-margin-lg {
  margin-top: variables.$margin-lg !important;
}

.el-margin-lg-top {
  margin-top: variables.$margin-lg !important;
}
.el-margin-lg-bottom {
  margin-bottom: variables.$margin-lg !important;
}
.el-margin-lg-left {
  margin-left: variables.$margin-lg !important;
}
.el-margin-lg-right {
  margin-right: variables.$margin-lg !important;
}

/* XLarge
 ========================================================================== */

.el-margin-xl {
  margin-bottom: variables.$margin-xl;
}
* + .el-margin-xl {
  margin-top: variables.$margin-xl !important;
}

.el-margin-xl-top {
  margin-top: variables.$margin-xl !important;
}
.el-margin-xl-bottom {
  margin-bottom: variables.$margin-xl !important;
}
.el-margin-xl-left {
  margin-left: variables.$margin-xl !important;
}
.el-margin-xl-right {
  margin-right: variables.$margin-xl !important;
}

/* Auto
 ========================================================================== */

.el-margin-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.el-margin-auto-top {
  margin-top: auto !important;
}
.el-margin-auto-bottom {
  margin-bottom: auto !important;
}
.el-margin-auto-left {
  margin-left: auto !important;
}
.el-margin-auto-right {
  margin-right: auto !important;
}

.el-margin-auto-vertical {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

/* Phone landscape and bigger */
@media (min-width: $sm) {
  .el-margin-auto\@sm {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .el-margin-auto-left\@sm {
    margin-left: auto !important;
  }
  .el-margin-auto-right\@sm {
    margin-right: auto !important;
  }
}

/* Tablet landscape and bigger */
@media (min-width: $md) {
  .el-margin-auto\@md {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .el-margin-auto-left\@md {
    margin-left: auto !important;
  }
  .el-margin-auto-right\@md {
    margin-right: auto !important;
  }
}

/* Desktop and bigger */
@media (min-width: $lg) {
  .el-margin-auto\@lg {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .el-margin-auto-left\@lg {
    margin-left: auto !important;
  }
  .el-margin-auto-right\@lg {
    margin-right: auto !important;
  }
}

/* Large screen and bigger */
@media (min-width: $xl) {
  .el-margin-auto\@xl {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .el-margin-auto-left\@xl {
    margin-left: auto !important;
  }
  .el-margin-auto-right\@xl {
    margin-right: auto !important;
  }
}

/* Remove
 ========================================================================== */

.el-margin-remove {
  margin: 0 !important;
}
.el-margin-remove-top {
  margin-top: 0 !important;
}
.el-margin-remove-bottom {
  margin-bottom: 0 !important;
}
.el-margin-remove-left {
  margin-left: 0 !important;
}
.el-margin-remove-right {
  margin-right: 0 !important;
}

.el-margin-remove-vertical {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.el-margin-remove-adjacent + *,
.el-margin-remove-first-child > :first-child {
  margin-top: 0 !important;
}
.el-margin-remove-last-child > :last-child {
  margin-bottom: 0 !important;
}

/* Phone landscape and bigger */
@media (min-width: $sm) {
  .el-margin-remove-left\@sm {
    margin-left: 0 !important;
  }
  .el-margin-remove-right\@sm {
    margin-right: 0 !important;
  }
}

/* Tablet landscape and bigger */
@media (min-width: $md) {
  .el-margin-remove-left\@md {
    margin-left: 0 !important;
  }
  .el-margin-remove-right\@md {
    margin-right: 0 !important;
  }
}

/* Desktop and bigger */
@media (min-width: $lg) {
  .el-margin-remove-left\@lg {
    margin-left: 0 !important;
  }
  .el-margin-remove-right\@lg {
    margin-right: 0 !important;
  }
}

/* Large screen and bigger */
@media (min-width: $xl) {
  .el-margin-remove-left\@xl {
    margin-left: 0 !important;
  }
  .el-margin-remove-right\@xl {
    margin-right: 0 !important;
  }
}
