.idea
.phpunit.result.cache
build
composer.lock
/node_modules
/vendor
/src/resources
/src/routes

/resources/style/entry/catalog.scss
/resources/style/entry/order.scss
/resources/style/entry/product.scss

/resources/script/entry/catalog.js
/resources/script/entry/order.js
/resources/script/entry/product.js

/resources/script/service/request/catalog.js
/resources/script/service/request/order.js
/resources/script/service/request/product.js

/resources/views/pages/catalog
/resources/views/pages/order
/resources/views/pages/product
