// Info:
// https://css-tricks.com/introducing-sass-modules/
// https://github.com/sass/sass/blob/main/accepted/module-system.md#the-next-generation-sass-module-system-draft-6

@use '~element-plus/theme-chalk/src/mixins/function' as *;
@forward '~element-plus/theme-chalk/src/common/var' with (
    $avatar: (
        'bg-color': '#FFFFFF',
    ),
    $border-radius: (
        'base': 6px,
    ),
    $button-font-size: (
        'large': 16px,
    ),
    $colors: (
        'primary': (
            'base': #188fff,
        ),
    ),
    $font-family: (
        '': "-apple-system, BlinkMacSystemFont, 'Open Sans', Arial, sans-serifsans-serif",
    ),
    $font-size: (
        'base': 15px,
        'large': 26px,
        'extra-large': 32px,
    ),
    $input-font-size: (
        'large': 16px,
    ),
    $common-component-size: (
        'large': 40px,
        // 'default': 36px,
    ),
    // $empty: (
    //     'padding': 20px 0,
    // ),
    // $input: (
    //     'text-color': getCssVar('color-primary'),
    // ),
    // $border-color: (
    //     '': rgba(51, 51, 51, 0.16),
    //     'light': #DFD8CF,
    // ),
    // $bg-color: (
    //     '': #FFF8EF,
    //     'overlay': #FFF8EF,
    // ),
    // $fill-color: (
    //     'light': #F6EFE6,
    // ),
    $menu: (
        'bg-color': transparent,
        'border-color': transparent,
        'item-height': 46px,
    ),
    $message: (
        'close-size': 22px,
    ),
    $messagebox: (
        'border-radius': 8px,
        'padding-primary': 30px,
        'width': 520px,
    ),
    $pagination: (
        'font-size': getCssVar('font-size', 'base'),
        'border-radius': getCssVar('border-radius', 'base'),
    ),
    $popover: (
        'border-radius': getCssVar('border-radius', 'base'),
    ),
    $text-color: (
        'primary': #111,
        'regular': #2A2A2A,
    ),
);

@use '../theme-chalk/var' as *;


// @use '../theme-chalk/margin.scss';
@use '~element-plus/theme-chalk/src/base';
// @use '~element-plus/theme-chalk/src/reset';
@use '../theme-chalk/reset';
@use '../theme-chalk/height';
@use '../theme-chalk/width';
@use '../theme-chalk/grid';
@use '../theme-chalk/flex';
@use '../theme-chalk/typhography';
@use '~element-plus/theme-chalk/src/text';
@use '~element-plus/theme-chalk/src/icon';
@use '../theme-chalk/icomoon';
@use '~element-plus/theme-chalk/src/container';
@use '~element-plus/theme-chalk/src/aside';
@use '~element-plus/theme-chalk/src/overlay';
@use '~element-plus/theme-chalk/src/message';
@use '~element-plus/theme-chalk/src/message-box';
@use '~element-plus/theme-chalk/src/button';
@use '~element-plus/theme-chalk/src/notification';

html {
    height: 100%;
}
body {
    height: inherit;
}

[v-cloak] {
    display: none;
}

.spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border-color: var(--el-color-primary) transparent transparent var(--el-color-primary);
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    display: inline-block;
    -webkit-animation: nprogress-spinner 0.5s linear infinite;
    animation: nprogress-spinner 0.5s linear infinite;
}
@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(1turn);
    }
}
@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}

// ElContainer
.el-container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

// ElMenu
.el-menu {
    --el-menu-bg-color: transparent;
    min-height: 100%;
    .el-menu-item [class^=el-icon] {
        font-size: 16px;
    }
}

// ElButton
.el-button {
    &.is-narrow {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.el-button--small {
    --el-button-size: 20px;
    &.is-narrow {
        padding-left: 6px;
        padding-right: 6px;
    }
}
.el-button--large {
    &.is-narrow {
        padding-left: 12px;
        padding-right: 12px;
    }
}

// ElMessageBox
.el-message-box {
    padding-bottom: 25px;
    .el-message-box__header {
        font-weight: bold;
        padding-top: 25px;
    }
    .el-message-box__content {
        padding-bottom: 0;
    }
    .el-message-box__btns {
        padding: 0 30px;
    }
    &.el-message--sm {
        max-width: 600px;
    }
    // .el-message-box__headerbtn {
    //     width: getCssVarWithDefault(('message', 'close-size'), 22px);
    //     height: getCssVarWithDefault(('message', 'close-size'), 22px);
    //     .el-message-box__close {
    //         color: #3C1F1D;
    //     }
    // }
}

// ElRadio
.el-radio-group {
    &.is-stretch {
        & > .el-radio-button {
            flex: 1;
            .el-radio-button__inner {
                width: 100%;
            }
        }
    }
}

// ElInput
.el-input {

    .el-input-group__append, .el-input-group__prepend {
        padding-left: 12px;
        padding-right: 12px;
        min-width: 16px;
    }
}

// ElDropdown
.el-dropdown-menu {
    &.el-dropdown-menu--large {
        min-width: 220px;
        .el-dropdown-menu__item {
            line-height: 24px;
            i {
                margin-right: 10px;
            }
            &.el-dropdown--link {
                padding: 0 5px;
                a {
                    display: block;
                    padding: 7px 15px;
                    width: 100%;
                    border-radius: var(--el-border-radius);
                }
                &:hover {
                    a {
                        background-color: var(--el-dropdown-menuItem-hover-fill);
                    }
                }
            }
        }
    }
}

// ElTabs
.el-tabs {
    &.el-tabs--left {
        .el-tabs__header.is-left {
            margin-right: 20px;
        }
    }
}

// ElPopper
.el-popper {
    --el-popover-border-radius: 6px;
    --el-popper-border-radius: 6px;
    font-size: var(--el-font-size-small);
}

// ElIcon
.el-icon--right {
    margin-left: 8px;
}
.el-icon--left {
    margin-right: 8px;
}

// ElDrawer
.el-drawer {
    margin: 20px;
    height: calc(100% - 40px) !important;
    border-radius: 8px;
    .el-drawer__header {
        color: var(--el-text-color-primary);
        margin-bottom: 20px;
    }
    .el-drawer__title {
        font-size: var(--el-font-size-large);
        font-weight: bold;
    }
    .el-drawer__close-btn {
        font-size: var(--el-font-size-large);
    }
}

// ElPagination
.el-pagination {
    &.el-pagination--large {
        --el-pagination-font-size: var(--el-font-size-medium);
        --el-pagination-button-width: var(--el-component-size-large);
        --el-pagination-button-height: var(--el-component-size-large);
    }
}
