@import "common/var";
@import "mixins/mixins";

.el-container {
    display: flow-root;
    /* 1 */
    box-sizing: content-box;
    max-width: $container-max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-padding-horizontal;
    padding-right: $container-padding-horizontal;
}

/* Phone landscape and bigger */
@media (min-width: $breakpoint-small) {

    .el-container {
        padding-left: $container-padding-horizontal-s;
        padding-right: $container-padding-horizontal-s;
    }

}

/* Tablet landscape and bigger */
@media (min-width: $breakpoint-medium) {

    .el-container {
        padding-left: $container-padding-horizontal;
        padding-right: $container-padding-horizontal;
    }

}

/*
 * Remove margin from the last-child
 */

.el-container > :last-child { margin-bottom: 0; }

/*
 * Remove padding from nested containers
 */

.el-container .el-container.el-container-collapse {
    padding-left: 0;
    padding-right: 0;
}

.el-container-expand-collapse {
    padding-left: 0;
    padding-right: 0;
    max-width: none;
}


/* Size modifier
 ========================================================================== */

.el-container-xsmall { max-width: $container-xsmall-max-width; }

.el-container-small { max-width: $container-small-max-width; }

.el-container-large { max-width: $container-large-max-width; }

.el-container-xlarge { max-width: $container-xlarge-max-width; }

.el-container-expand { max-width: none; }


/* Expand modifier
 ========================================================================== */

/*
 * Expand one side only
 */

.el-container-expand-left { margin-left: 0; }
.el-container-expand-right { margin-right: 0; }
