@import "common/var";

// Name:            Margin
// Description:     Utilities for margins
//
// Component:       `el-margin-*`
//                  `el-margin-sm-*`
//                  `el-margin-md-*`
//                  `el-margin-lg-*`
//                  `el-margin-xl-*`
//                  `el-margin-remove-*`
//                  `el-margin-auto-*`
//
// ========================================================================


// Variables
// ========================================================================

$margin-margin:                                         $global-margin !default;

$margin-mini-margin:                                    $global-mini-margin !default;
$margin-small-margin:                                   $global-small-margin !default;

$margin-medium-margin:                                  $global-medium-margin !default;

$margin-large-margin:                                   $global-medium-margin !default;
$margin-large-margin-l:                                 $global-large-margin !default;

$margin-xlarge-margin:                                  $global-large-margin !default;
$margin-xlarge-margin-l:                                $global-xlarge-margin !default;

/* ========================================================================
   Component: Margin
 ========================================================================== */

/*
 * Default
 */

.el-margin { margin-bottom: $margin-margin; }
* + .el-margin { margin-top: $margin-margin !important; }

.el-margin-top { margin-top: $margin-margin !important; }
.el-margin-bottom { margin-bottom: $margin-margin !important; }
.el-margin-left { margin-left: $margin-margin !important; }
.el-margin-right { margin-right: $margin-margin !important; }

/* Mini
 ========================================================================== */

.el-margin-xs { margin-bottom: $margin-mini-margin; }
* + .el-margin-xs { margin-top: $margin-mini-margin !important; }

.el-margin-xs-top { margin-top: $margin-mini-margin !important; }
.el-margin-xs-bottom { margin-bottom: $margin-mini-margin !important; }
.el-margin-xs-left { margin-left: $margin-mini-margin !important; }
.el-margin-xs-right { margin-right: $margin-mini-margin !important; }

/* Small
 ========================================================================== */

.el-margin-sm { margin-bottom: $margin-small-margin; }
* + .el-margin-sm { margin-top: $margin-small-margin !important; }

.el-margin-sm-top { margin-top: $margin-small-margin !important; }
.el-margin-sm-bottom { margin-bottom: $margin-small-margin !important; }
.el-margin-sm-left { margin-left: $margin-small-margin !important; }
.el-margin-sm-right { margin-right: $margin-small-margin !important; }

/* Medium
 ========================================================================== */

.el-margin-md { margin-bottom: $margin-medium-margin; }
* + .el-margin-md { margin-top: $margin-medium-margin !important; }

.el-margin-md-top { margin-top: $margin-medium-margin !important; }
.el-margin-md-bottom { margin-bottom: $margin-medium-margin !important; }
.el-margin-md-left { margin-left: $margin-medium-margin !important; }
.el-margin-md-right { margin-right: $margin-medium-margin !important; }

/* Large
 ========================================================================== */

.el-margin-lg { margin-bottom: $margin-large-margin; }
* + .el-margin-lg { margin-top: $margin-large-margin !important; }

.el-margin-lg-top { margin-top: $margin-large-margin !important; }
.el-margin-lg-bottom { margin-bottom: $margin-large-margin !important; }
.el-margin-lg-left { margin-left: $margin-large-margin !important; }
.el-margin-lg-right { margin-right: $margin-large-margin !important; }

/* Desktop and bigger */
@media (min-width: $breakpoint-large) {

    .el-margin-lg { margin-bottom: $margin-large-margin-l; }
    * + .el-margin-lg { margin-top: $margin-large-margin-l !important; }

    .el-margin-lg-top { margin-top: $margin-large-margin-l !important; }
    .el-margin-lg-bottom { margin-bottom: $margin-large-margin-l !important; }
    .el-margin-lg-left { margin-left: $margin-large-margin-l !important; }
    .el-margin-lg-right { margin-right: $margin-large-margin-l !important; }

}

/* XLarge
 ========================================================================== */

.el-margin-xl { margin-bottom: $margin-xlarge-margin; }
* + .el-margin-xl { margin-top: $margin-xlarge-margin !important; }

.el-margin-xl-top { margin-top: $margin-xlarge-margin !important; }
.el-margin-xl-bottom { margin-bottom: $margin-xlarge-margin !important; }
.el-margin-xl-left { margin-left: $margin-xlarge-margin !important; }
.el-margin-xl-right { margin-right: $margin-xlarge-margin !important; }

/* Desktop and bigger */
@media (min-width: $breakpoint-large) {

    .el-margin-xl { margin-bottom: $margin-xlarge-margin-l; }
    * + .el-margin-xl { margin-top: $margin-xlarge-margin-l !important; }

    .el-margin-xl-top { margin-top: $margin-xlarge-margin-l !important; }
    .el-margin-xl-bottom { margin-bottom: $margin-xlarge-margin-l !important; }
    .el-margin-xl-left { margin-left: $margin-xlarge-margin-l !important; }
    .el-margin-xl-right { margin-right: $margin-xlarge-margin-l !important; }

}

/* Auto
 ========================================================================== */

.el-margin-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.el-margin-auto-top { margin-top: auto !important; }
.el-margin-auto-bottom { margin-bottom: auto !important; }
.el-margin-auto-left { margin-left: auto !important; }
.el-margin-auto-right { margin-right: auto !important; }

.el-margin-auto-vertical {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

/* Phone landscape and bigger */
@media (min-width: $breakpoint-small) {

    .el-margin-auto\@s {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .el-margin-auto-left\@s { margin-left: auto !important; }
    .el-margin-auto-right\@s { margin-right: auto !important; }

}

/* Tablet landscape and bigger */
@media (min-width: $breakpoint-medium) {

    .el-margin-auto\@md {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .el-margin-auto-left\@md { margin-left: auto !important; }
    .el-margin-auto-right\@md { margin-right: auto !important; }

}

/* Desktop and bigger */
@media (min-width: $breakpoint-large) {

    .el-margin-auto\@l {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .el-margin-auto-left\@l { margin-left: auto !important; }
    .el-margin-auto-right\@l { margin-right: auto !important; }

}

/* Large screen and bigger */
@media (min-width: $breakpoint-xlarge) {

    .el-margin-auto\@xl {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .el-margin-auto-left\@xl { margin-left: auto !important; }
    .el-margin-auto-right\@xl { margin-right: auto !important; }

}

/* Remove
 ========================================================================== */

 .el-margin-remove { margin: 0 !important; }
 .el-margin-remove-top { margin-top: 0 !important; }
 .el-margin-remove-bottom { margin-bottom: 0 !important; }
 .el-margin-remove-left { margin-left: 0 !important; }
 .el-margin-remove-right { margin-right: 0 !important; }

 .el-margin-remove-vertical {
     margin-top: 0 !important;
     margin-bottom: 0 !important;
 }

 .el-margin-remove-adjacent + *,
 .el-margin-remove-first-child > :first-child { margin-top: 0 !important; }
 .el-margin-remove-last-child > :last-child { margin-bottom: 0 !important; }

/* Phone landscape and bigger */
@media (min-width: $breakpoint-small) {

    .el-margin-remove-left\@s { margin-left: 0 !important; }
    .el-margin-remove-right\@s { margin-right: 0 !important; }

}

/* Tablet landscape and bigger */
@media (min-width: $breakpoint-medium) {

    .el-margin-remove-left\@md { margin-left: 0 !important; }
    .el-margin-remove-right\@md { margin-right: 0 !important; }

}

/* Desktop and bigger */
@media (min-width: $breakpoint-large) {

    .el-margin-remove-left\@l { margin-left: 0 !important; }
    .el-margin-remove-right\@l { margin-right: 0 !important; }

}

/* Large screen and bigger */
@media (min-width: $breakpoint-xlarge) {

    .el-margin-remove-left\@xl { margin-left: 0 !important; }
    .el-margin-remove-right\@xl { margin-right: 0 !important; }

}
