@use './../theme/common.scss';
@use './../theme/margin.scss';
@use './../theme/height.scss';
@use 'element-plus/theme-chalk/src/button.scss';
@use 'element-plus/theme-chalk/src/divider.scss';
@use 'element-plus/theme-chalk/src/card.scss';
@use 'element-plus/theme-chalk/src/input.scss';

.el-card {
    padding: 30px;
}
.el-input {
    --el-input-text-color: var(--el-text-color-primary);
    &.el-input--large {
        font-size: 16px;
        --el-input-border-radius: 6px;
        .el-input__inner {
            font-weight: 500;
        }
    }
}
.el-divider {
    &.el-divider--horizontal {
        border-top-color: var(--el-border-color-lighter);
    }
    .el-divider__text {
        color: var(--el-text-color-placeholder);
        &.is-center {
            transform: translateX(-50%) translateY(-60%);
        }
    }
}
.invalid-feedback {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: var(--el-color-error);
}
