@use '~element-plus/theme-chalk/src/mixins/function' as *;
@use '../theme/common';

@use '~element-plus/theme-chalk/src/tabs';
@use '~element-plus/theme-chalk/src/dropdown';
@use '~element-plus/theme-chalk/src/popper';
@use '~element-plus/theme-chalk/src/tree';
@use '~element-plus/theme-chalk/src/switch';
@use '~element-plus/theme-chalk/src/empty';
@use '~element-plus/theme-chalk/src/tooltip';

.el-tabs__nav {
    &.is-left {
        min-width: 200px;
        .el-tabs__item {
            border-top-left-radius: getCssVar('border-radius', 'base');
            border-bottom-left-radius: getCssVar('border-radius', 'base');
            &.is-active {
                background-color: var(--el-color-primary-light-9);
            }
        }
    }
}

.el-tree {
    .el-tree-node__content {
        border-radius: getCssVar('border-radius', 'base');
        min-height: 38px;
        padding-right: 8px;
        border-bottom: 1px solid #f6f6f6;
        .el-grid {
            [class^=el-icon-], [class*=" el-icon-"] {
                vertical-align: text-bottom;
                opacity: 0.8;
            }
        }
    }
}
